<%- include('./partials/header.ejs')%>
<main>
    <div class="container-fluid home">
    <h1 class="welcome">About Charlotte Foodies</h1>
    <p class="intro">We were founded toward the beginning of Summer 2010 by our founder, Logan Hasty. He had a vision for an events company that both held its own events and advertised exciting food-related events in the area. Since inception, we have boosted attendance annually and look forward to continue to grow our community!</p>
    </div>
</main>
<%- include('./partials/footer.ejs') %>