<%- include('./partials/header.ejs')%>
<main>
    <div class="container-fluid home">
    <h1 class="welcome">Contact us!</h1>
    <p class="intro">You can give us a call at <phone>(704)321-9375</phone> or shoot us an email at <email>charlottefoodies@gmail.com</email></p>
    </div>
</main>
<%- include('./partials/footer.ejs') %>