<%- include('./partials/header.ejs')%>
    <div class = "container-fluid home">
        <h3 class="welcome"><%= error.status%> Error</h3> 
        <p class="intro"><%= error.message%></p>
    </div>
    <%- include('./partials/footer.ejs') %>