<%- include('./partials/header.ejs')%>
<main>
    <div class="container-fluid home">
    <h1 class="welcome">Welcome to Charlotte Foodies!</h1>
    <img class="home-page-image" src="/images/home-page-image.png" alt="Friends out to lunch">
    <p class="intro">We are a group of Charlotteans who absolutely love food and socialzing. On this site, you can find upcoming food events and even create your own!
        <br>
        <br>
    Feel free to create an account and join other foodies in the area! For a limited time, if you attend any of the food truck events and mention this group, you will receive a 10% discount!</p>
    </div>
</main>
<%- include('./partials/footer.ejs') %>